# Use blake3 as digest function instead of the much slower default sha256.
startup --digest_function=blake3
common --enable_platform_specific_config

# Don't use legacy toolchain resolution.
common --incompatible_enable_cc_toolchain_resolution
common --incompatible_enable_proto_toolchain_resolution

# Use '+' instead of the legacy '~' when resolving repo names.
common --incompatible_use_plus_in_repo_names

# Don't inherit PATH and LD_LIBRARY_PATH.
build --incompatible_strict_action_env

# Don't use the legacy workspace system.
build --noenable_workspace

# Enforce C++20 as the default for rules_cc, regardless of toolchain config.
build --cxxopt=-std=c++20 --host_cxxopt=-std=c++20

# Use O3 optimizations.
build --cxxopt=-O3 --host_cxxopt=-O3

# Forbid network access unless explicitly enabled.
build --sandbox_default_allow_network=false

# Use correct runfile locations.
build --nolegacy_external_runfiles

# Enable sandboxing for exclusive tests like GPU performance tests.
test --incompatible_exclusive_test_sandboxed

# Make sure rules_cc uses the correct transition mechanism.
build --incompatible_enable_cc_toolchain_resolution

# Propagate tags such as no-remote for precompilations to downstream actions.
common --incompatible_allow_tags_propagation

# Bzlmod configuration.
common --enable_bzlmod
common --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main/

# Remote optimizations.
build --remote_build_event_upload=minimal
build --remote_download_minimal
build --nolegacy_important_outputs

# Smaller profiling. Careful. Disabling this might explode remote cache usage.
build --slim_profile
build --experimental_profile_include_target_label
build --noexperimental_profile_include_primary_output

# Workaround for NativeLink expecting this to be set to `main`.
build --remote_instance_name=main

# Generated by the LRE flake module.
try-import %workspace%/lre.bazelrc

# Point this to NativeLink for caching and remote execution.
build --remote_cache=grpc://localhost:50051
build --remote_executor=grpc://localhost:50051
